@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.font-poppins-bold {
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.soft-searchbar::-webkit-scrollbar {
  @apply w-1.5 h-2;
}

.soft-searchbar::-webkit-scrollbar-track {
  @apply hover:bg-gray-200 dark:hover:bg-gray-800;
}

.soft-searchbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full hover:bg-gray-300 dark:hover:bg-gray-600;
}
